NODE_ENV=development
PORT=8080

DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=changeme
DB_NAME=ERP
DB_URL=jdbc:postgresql://localhost:5433/erp_db

POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=ERP

CORS_ORIGIN=http://localhost:4200

JWT_SECRET=dev_only_change_in_production
JWT_ACCESS_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_DAYS=7

SEED_ADMIN_EMAIL=admin@erp.com
SEED_ADMIN_PASSWORD=Admin123!
